@font-face {
  font-family: "Philosopher";
  src: url("Philosopher-Bold.woff2") format("woff2"),
    url("Philosopher-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.woff2") format("woff2"),
    url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

h2,
.h2,
.h1 {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $color-heading;
}

h2.banner__heading {
  margin-bottom: 0;
  font-family: "Philosopher", sans-serif;
  color: var(--color-foreground);
  font-size: 4.6rem;
  line-height: 6rem;
}

h3,
.h3 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.1rem;
  line-height: 4.1rem;
  margin-top: 0;
  margin-bottom: 25px;
}

h3.h4,
h4,
.price span {
  font-family: "Philosopher", sans-serif;
  font-size: 2.5rem !important;
  line-height: 3.5rem;
}

p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 810px) {
  h2.banner__heading {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  h3,
  .h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.title-wrapper {
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.spr-icon,
.rating-star {
  font-size: 2.4rem !important;
  color: $color-orange !important;
}
