.product {
  .product__media-wrapper {
    .slick-list {
      margin: 0 30px;
    }
    .slick-arrow {
      width: 18px;
      height: 39px;
    }
    .slick-prev {
      background-image: url(arrow-left-big.svg);
    }
    .slick-next {
      background-image: url(arrow-right-big.svg);
    }
    .product__media-item {
      padding: 10px;
    }
  }
  .product__slider {
    .product__media {
      height: 500px;
    }
  }
  .product__thumbnail-slider {
    .product__media {
      height: 150px;
    }
  }
}

@media screen and (max-width: 990px) {
  .product__slider {
    .product__media {
      height: 300px !important;
    }
  }
  .product__thumbnail-slider {
    .product__media {
      height: 80px !important;
    }
  }
} 