.reviews-slider {
  padding-bottom: 30px;
  margin-top: 90px;
  overflow: hidden;
  .reviews-slider__slide-wrapper {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 60px;
    &::before {
      position: absolute;
      content: "";
      width: 980px;
      height: 450px;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(slide-background.svg);
      background-repeat: no-repeat;
      z-index: -1;
    }
    .spr-container {
      border: none;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 740px) {
        width: 90%;
      }
      .spr-header,
      .spr-review-footer {
        display: none;
      }
      .spr-reviews {
        margin: 0;
        .spr-review {
          border: none;
          margin: 0;
          padding: 0;
          display: none;
          &:first-child {
            display: block;
          }
          .spr-review-header-title {
            display: none;
          }
          .spr-starratings {
            display: block;
          }
          .spr-review-header-byline p {
            text-transform: uppercase;
            font-style: normal;
          }
          .spr-review-content-body {
            font-family: "Roboto-Regular", sans-serif;
            font-size: 1.6rem;
            line-height: 2.4rem;
            @media screen and (max-width: 810px) {
              font-size: 1.3rem;
              line-height: 2rem;
            }
          }
        }
      }
    }
    .slick-arrow {
      width: 16px;
      height: 16px;
    }
    .slick-prev {
      background-image: url(slider-arrow-left.svg);
    }
    .slick-next {
      background-image: url(slider-arrow-right.svg);
    }
  }
}

